.timer {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.field .value {
    font-size: 36px;
}

.field .label {
    font-size: 12px;
}


.form {
    width: 250px;
}

fieldset {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

#promise {
    width: 100%;
}

.form label:first-child {
    display: flex;
    flex-direction: column;
}